
#header-container {
    position: fixed;
    width: 100%;
    min-height: var(--header-min-height);
    top: 0;

    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;

    transition: opacity 0.3s;
    background-color: var(--color-background);
}

nav {
    display: flex;
}

#page-navigation-list {
    margin-right: var(--header-margin-rl);
    display: flex;
    column-gap: 2em;
}

#page-navigation-list div {

    padding: .3em;
    display: flex;
    align-items: center;
    font-weight: var(--font-regular);
    width: fit-content;
}

.nav-link {
    padding: .9em;
}

.btn-diff {
    border: 3px solid var(--color-button-outline);
    color: var(--color-button-outline);
    transition: background-color 0.3s ease;
}

.btn-diff:hover {
    background-color: var(--color-button-outline);
    color: var(--color-background);
}

.btn-norm {
    transition: 0.3s ease;
}

.btn-norm:hover {
    transform: translateY(-2px);
}

.lang-flag-container {
    transform: translateY(10%);
}

.lang-flag {
    width: 40px;
    border: 1px transparent;
    border-radius: px 0 25px 0;
}

.lang-flag:hover {
    cursor: pointer;
}

#burger {
    display: none;
}

#burger-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: var(--header-min-height);
    right: -100%;
    background-color: var(--color-background);
    width: 100%;
    transition: right 0.5s ease-in-out;
    z-index: -100; 
}

#burger-menu.active {
    right: 0;
}

.burger-link {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

@media screen and (max-width: 369px) {
    #title {
        margin: 20px 0 20px 30px;
    }
}
@media screen and (min-width: 370px) {
    #title {
        margin: 0 0 0 var(--header-margin-rl);
    }
}

@media screen and (max-width: 769px){

    #header-container {
        justify-content: space-between;
    }

    nav {
        display: none;
    }

    #burger {
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .burger-line {
        width: 30px;
        height: 5px;
        background-color: var(--color-button-outline);
        transition: transform 0.5s, opacity 0.5s;
    }

    #burger.active .burger-line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }
    #burger.active .burger-line:nth-child(2) {
        transform: rotate3d(0, 1, 0, 90deg)
    }
    #burger.active .burger-line:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    #burger-menu {
        display: flex;
    }

    #burger-menu.active {
        top: var(--header-min-height);
    }

    .lang-flag-container {
        display: flex;
        justify-content: end;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 769px){
    #title {
        margin-left: 100px;
    }
}