@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --footer-height: 8rem;
    --font: "Lato", sans-serif;
    --font-thin: 100;
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 700;
    --font-black: 900;

    --font-size-heading: 5rem;
    
    --color-normal: #000;
    --color-important: #004346;
    --color-light: #75dddd;
    --color-button-background: #508991;
    --color-dark: #172a3a;
    --color-button-outline: #09BC8A;
    --color-background: white;
    --color-intel-section: #37BCBD;

    --header-min-height: 80px;

    --normal-txt-size: 1.2em
}

* {
    margin: 0;
    font-family: var(--font);
    text-decoration: none;
    color: var(--color-normal);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*::selection {
    color: var(--color-background);    
}

body {
    background-color: var(--color-background);
}

h2 {
    font-size: var(--font-size-heading);
}

#page-container {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: var(--footer-height);
}



.main-page-bg-img {
    height: 100vh;
    position: absolute;
    z-index: -2;
}




.bg-background {
    background-color: var(--color-background);
}

.bg-transparent {
    background-color: transparent;
}



p {
    font-size: var(--normal-txt-size);
}
