@import 'header_styles.css';

#top-gallery {
    margin-top: 100px;
}

.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.gallery h1 {
    text-align: center;
    font-size: 3em;
}

.gallery-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-photo-box {
    width: 10%;
    min-width: 250px;
    margin: 0 20px 40px 20px;
}

.gallery-photo-container {
    height: 150px;
    border-radius: 15px 0 15px 0;
    overflow:hidden;
    border: 1px solid var(--lightwhite);
    cursor: pointer;
}

.gallery-photo-container:hover {
    animation: image-selection 0.2s linear 0s 1;
    animation-fill-mode: forwards;
    
}

#big-photo-box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.41);
}

#big-photo-box span {
    cursor: pointer;
}


#close {
    position: absolute;
    top: 50px;
    right: 30px;
    height: 20px;
    width: 20px;
    padding: 8px;
}



.bigGallBtn{
    position: absolute;
    top: 50%;
    height: 20px;
    width: 20px;
    padding: 8px;
    border: 1px solid transparent;
    background-color: var(--lightred);
    border-radius: 100%;
    transition: 0.2s;
}

.bigGallBtn:hover {
    background-color: var(--darkred);
}

#forward {
    right: 30px;
}

#backward {
    left: 30px;
}

#big-photo-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.681);
    width: 100%;
    height: 100%;
}

span img{
    width: 100%;
    height: 100%;
}

span img::selection{
    background-color: transparent;
}

#big-photo-content {
    margin: auto;
    width: 80%;
    height: 80%;
}

#big-photo-content {
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
}

@keyframes image-selection {
    0% {
        border: 1px solid whitesmoke;
    }

    100% {
        border: 1px solid var(--lightred);
    }
}

.gallery-photo {
    width: 100%;
    transition: 0.3s;
}

.gallery-photo-box figcaption {
    font-size: 0.7em;
    margin-top: 5px;
}

@media screen and (max-width: 580px) {
    .gallery-photo-box {
        width: 10%;
        min-width: 330px;
        margin: 0 20px 40px 20px;
    }

    .gallery-photo-container {
        height: 200px;
    }

    .bigGallBtn {
        padding: 5px;
        background-color: transparent;
    }

    #forward {
        right: 20px;
    }
    
    #backward {
        left: 20px;
    }
}